# Created by venv; see https://docs.python.org/3/library/venv.html
__pycache__/
.env
venv/
bigquery-shopify/
sample_response.json
shopify_sample.txt
output.txt
table_sample_values_after_proc.csv
table_sample_values.csv
table_with_types.csv
table_with_types.xlsx
cloud_python_private_key.json
bin/
include/
lib/
pyvenv.cfg
